# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store

# sst build output
.build
.sst

# environments
.env*.local

.venv
.nlpenv
.tokenenv
.catenv
.testenv
.env
*.pyc

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea

dist/
src/generated/
*.env*
*.db
